
<div style="text-align:center">

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: blue;">
    <a class="navbar-brand" href="#">Maze</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="app.component.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="leaderboard/leaderboard.component.html">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goContact()">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
  <div class="jumbotron" style="background-image: assets/maze.png background-size: 100%;">
    <div class="container for-about">
    <h1></h1>
    </div>
 </div>

  <h1>
    <!-- Welcome to {{ title }}! -->
  </h1>
  <img width="700" alt="Angular Logo" src="assets/maze.png">
</div>

<!-- Begining of card  -->
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class=""></div>
    <mat-card-title>Maze App</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="" alt="Maze Logo"> <!-- Will be replaced with in game footage-->
  <mat-card-content>
    <p>
      This game is set in a series of mazes each with their own unique environments, enemies, challenges and goals. 
      <br>Think of each level as a new story. The player is dropped into this maze and all they know is there’s an immediate danger lurking. 
      <br> They’ve a fixed amount of time to escape the maze and live another day. 
      <br>If the timer reaches 0:00 and the player hasn’t found their way out of the maze a game over event will occur prompting the player to retry. 
      <br>The player will be rewarded with a ranking upon maze completion. For example, Bronze for completing in 90 seconds, Silver for completing 75 seconds and Gold for completing in 60 seconds.
    </p>
  </mat-card-content>



  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card> 

<!-- Leaderboard Card-->
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class=""></div>
      <mat-card-title>Leaderboard</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="" alt="Leaderboard API">
    <mat-card-content>
      <p>
        This area will display in real time updates the top five players on the leaderboard
       
      </p>
    </mat-card-content>
  </mat-card> 

<!-- <mat-list>
    <mat-list-item>A Little About Us
      <br> 
      This game is set in a series of mazes each with their own unique environments, enemies, challenges and goals. 
      <br>Think of each level as a new story. The player is dropped into this maze and all they know is there’s an immediate danger lurking. 
      <br> They’ve a fixed amount of time to escape the maze and live another day. 
      <br>If the timer reaches 0:00 and the player hasn’t found their way out of the maze a game over event will occur prompting the player to retry. 
      <br>The player will be rewarded with a ranking upon maze completion. For example, Bronze for completing in 90 seconds, Silver for completing 75 seconds and Gold for completing in 60 seconds.
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list> -->


  <!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
     
    A Little About Us.
    This game is set in a series of mazes each with their own unique environments, enemies, challenges and goals. Think of each level as a new story. The player is dropped into this maze and all they know is there’s an immediate danger lurking. They’ve a fixed amount of time to escape the maze and live another day. If the timer reaches 0:00 and the player hasn’t found their way out of the maze a game over event will occur prompting the player to retry. The player will be rewarded with a ranking upon maze completion. For example, Bronze for completing in 90 seconds, Silver for completing 75 seconds and Gold for completing in 60 seconds.
      
  </mat-grid-tile>
  <mat-grid-tile>LeaderBoard - Top 5</mat-grid-tile>
  
</mat-grid-list> -->
 

